In [11]:
import pandas as pd

In [12]:
df = pd.read_excel('/content/drive/MyDrive/Untitled folder/TataIQ_Delinquency_prediction_dataset.xlsx')
print(df.head())

  Customer_ID  Age  Imputed_Income    Income  Credit_Score  \
0    CUST0001   56        165580.0  165580.0         398.0
1    CUST0002   69        100999.0  100999.0         493.0
2    CUST0003   46        188416.0  188416.0         500.0
3    CUST0004   32        101672.0  101672.0         413.0
4    CUST0005   60         38524.0   38524.0         487.0

   Credit_Utilization  Missed_Payments  Delinquent_Account  Loan_Balance  \
0            0.390502                3                   0       16310.0
1            0.312444                6                   1       17401.0
2            0.359930                0                   0       13761.0
3            0.371400                3                   0       88778.0
4            0.234716                2                   0       13316.0

   Debt_to_Income_Ratio  ... Account_Tenure  Credit_Card_Type     Location  \
0              0.317396  ...             18           Student  Los Angeles
1              0.196093  ...              0          Standard      Phoenix
2              0.301655  ...              1          Platinum      Chicago
3              0.264794  ...             15          Platinum      Phoenix
4              0.510583  ...             11          Standard      Phoenix

  Month_1  Month_2 Month_3  Month_4  Month_5  Month_6  \
0    Late     Late  Missed     Late   Missed     Late
1  Missed   Missed    Late   Missed  On-time  On-time
2  Missed     Late    Late  On-time   Missed     Late
3    Late   Missed    Late   Missed     Late     Late
4  Missed  On-time  Missed     Late     Late     Late

                  group key
0   Employed-56-Los Angeles
1  Self-employed-69-Phoenix
2  Self-employed-46-Chicago
3     Unemployed-32-Phoenix
4  Self-employed-60-Phoenix

[5 rows x 21 columns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer_ID           500 non-null    object
 1   Age                   500 non-null    int64
 2   Imputed_Income        461 non-null    float64
 3   Income                461 non-null    float64
 4   Credit_Score          498 non-null    float64
 5   Credit_Utilization    500 non-null    float64
 6   Missed_Payments       500 non-null    int64
 7   Delinquent_Account    500 non-null    int64
 8   Loan_Balance          471 non-null    float64
 9   Debt_to_Income_Ratio  500 non-null    float64
 10  Employment_Status     500 non-null    object
 11  Account_Tenure        500 non-null    int64
 12  Credit_Card_Type      500 non-null    object
 13  Location              500 non-null    object
 14  Month_1               500 non-null    object
 15  Month_2               500 non-null    object
 16  Month_3               500 non-null    object
 17  Month_4               500 non-null    object
 18  Month_5               500 non-null    object
 19  Month_6               500 non-null    object
 20  group key             500 non-null    object
dtypes: float64(6), int64(4), object(11)
memory usage: 82.2+ KB

In [14]:
print(df.describe())

              Age  Imputed_Income         Income  Credit_Score  \
count  500.000000      461.000000     461.000000    498.000000
mean    46.266000   108379.893709  108379.893709    577.716867
std     16.187629    53662.723741   53662.723741    168.881211
min     18.000000    15404.000000   15404.000000    301.000000
25%     33.000000    62295.000000   62295.000000    418.250000
50%     46.500000   107658.000000  107658.000000    586.000000
75%     59.250000   155734.000000  155734.000000    727.250000
max     74.000000   199943.000000  199943.000000    847.000000

       Credit_Utilization  Missed_Payments  Delinquent_Account  Loan_Balance  \
count          500.000000       500.000000          500.000000    471.000000
mean             0.491446         2.968000            0.160000  48654.428875
std              0.197103         1.946935            0.366973  29395.537273
min              0.050000         0.000000            0.000000    612.000000
25%              0.356486         1.000000            0.000000  23716.500000
50%              0.485636         3.000000            0.000000  45776.000000
75%              0.634440         5.000000            0.000000  75546.500000
max              1.025843         6.000000            1.000000  99620.000000

       Debt_to_Income_Ratio  Account_Tenure
count            500.000000      500.000000
mean               0.298862        9.740000
std                0.094521        5.923054
min                0.100000        0.000000
25%                0.233639        5.000000
50%                0.301634       10.000000
75%                0.362737       15.000000
max                0.552956       19.000000

In [15]:
#Correct values in Credit_Utilization that are greater than 1
df['Credit_Utilization'] = df['Credit_Utilization'].apply(lambda x: 1.0 if x > 1.0 else x)
print(df['Credit_Utilization'].max())

1.0

In [16]:
print(df.isnull().sum())

Customer_ID              0
Age                      0
Imputed_Income          39
Income                  39
Credit_Score             2
Credit_Utilization       0
Missed_Payments          0
Delinquent_Account       0
Loan_Balance            29
Debt_to_Income_Ratio     0
Employment_Status        0
Account_Tenure           0
Credit_Card_Type         0
Location                 0
Month_1                  0
Month_2                  0
Month_3                  0
Month_4                  0
Month_5                  0
Month_6                  0
group key                0
dtype: int64

In [17]:
df = df.drop('group key', axis=1)

In [18]:
print(df.isnull().sum())

Customer_ID              0
Age                      0
Imputed_Income          39
Income                  39
Credit_Score             2
Credit_Utilization       0
Missed_Payments          0
Delinquent_Account       0
Loan_Balance            29
Debt_to_Income_Ratio     0
Employment_Status        0
Account_Tenure           0
Credit_Card_Type         0
Location                 0
Month_1                  0
Month_2                  0
Month_3                  0
Month_4                  0
Month_5                  0
Month_6                  0
dtype: int64

In [19]:
#Accurate Imputation using Regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split # Not directly for imputation, but good to know for modeling
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer # For median imputation

# --- Step 1: Median Imputation for Credit_Score (fewer missing values) ---
median_imputer = SimpleImputer(strategy='median')
df['Credit_Score'] = median_imputer.fit_transform(df[['Credit_Score']])
df['Credit_Score_Missing'] = df['Credit_Score'].isnull().astype(int)
print(df.isnull().sum())

Customer_ID              0
Age                      0
Imputed_Income          39
Income                  39
Credit_Score             0
Credit_Utilization       0
Missed_Payments          0
Delinquent_Account       0
Loan_Balance            29
Debt_to_Income_Ratio     0
Employment_Status        0
Account_Tenure           0
Credit_Card_Type         0
Location                 0
Month_1                  0
Month_2                  0
Month_3                  0
Month_4                  0
Month_5                  0
Month_6                  0
Credit_Score_Missing     0
dtype: int64

In [20]:
#--- Step 2: Regression Imputation for Income and Loan_Balance ---
df['Income_Missing'] = df['Income'].isnull().astype(int)
df['Loan_Balance_Missing'] = df['Loan_Balance'].isnull().astype(int)

In [21]:
# Select features for predicting Income
income_features = ['Age', 'Credit_Score', 'Account_Tenure', 'Employment_Status']
# Separate data into rows with missing Income and rows with observed Income
income_observed = df.dropna(subset=['Income'])
income_missing = df[df['Income'].isnull()]

In [22]:
# Check if there are actual missing values
if not income_missing.empty:
    # Preprocessing for categorical features (One-Hot Encoding)
    preprocessor_income = ColumnTransformer(
            transformers=[
                ('cat', OneHotEncoder(handle_unknown='ignore'), ['Employment_Status'])
            ],
            remainder='passthrough' # Keep other numerical columns as they are
        )
    # This transformer will apply OneHotEncoder to 'Employment_Status'

    # Apply preprocessing to observed data
    X_income_observed = preprocessor_income.fit_transform(income_observed[income_features])
    y_income_observed = income_observed['Income']

    # Train a Linear Regression model for Income
    income_model = LinearRegression()
    income_model.fit(X_income_observed, y_income_observed)

    # Predict missing Income values
    X_income_missing = preprocessor_income.transform(income_missing[income_features])
    predicted_income = income_model.predict(X_income_missing)

    # Fill the missing Income values in the original DataFrame
    df.loc[df['Income'].isnull(), 'Income'] = predicted_income
    print("Income imputation complete.")
else:
    print("No missing Income values to impute.")

Income imputation complete.

In [23]:
df = df.drop('Imputed_Income', axis=1)
print(df.isnull().sum())

Customer_ID              0
Age                      0
Income                   0
Credit_Score             0
Credit_Utilization       0
Missed_Payments          0
Delinquent_Account       0
Loan_Balance            29
Debt_to_Income_Ratio     0
Employment_Status        0
Account_Tenure           0
Credit_Card_Type         0
Location                 0
Month_1                  0
Month_2                  0
Month_3                  0
Month_4                  0
Month_5                  0
Month_6                  0
Credit_Score_Missing     0
Income_Missing           0
Loan_Balance_Missing     0
dtype: int64

In [24]:
# --- Impute Loan_Balance using Regression ---
print("\n--- Imputing Loan_Balance using Regression ---")
# Select features for predicting Loan_Balance (ensure Income is imputed first if used as predictor)
loan_balance_features = ['Income', 'Credit_Score', 'Debt_to_Income_Ratio', 'Age'] # Using already imputed Income
loan_balance_observed = df.dropna(subset=['Loan_Balance'])
loan_balance_missing = df[df['Loan_Balance'].isnull()]

if not loan_balance_missing.empty: # Check if there are actual missing values
    # No categorical features in loan_balance_features, so direct use
    X_loan_balance_observed = loan_balance_observed[loan_balance_features]
    y_loan_balance_observed = loan_balance_observed['Loan_Balance']

    # Train a Linear Regression model for Loan_Balance
    loan_balance_model = LinearRegression()
    loan_balance_model.fit(X_loan_balance_observed, y_loan_balance_observed)

    # Predict missing Loan_Balance values
    X_loan_balance_missing = loan_balance_missing[loan_balance_features]
    predicted_loan_balance = loan_balance_model.predict(X_loan_balance_missing)

    # Fill the missing Loan_Balance values in the original DataFrame
    df.loc[df['Loan_Balance'].isnull(), 'Loan_Balance'] = predicted_loan_balance
    print("Loan_Balance imputation complete.")
else:
    print("No missing Loan_Balance values to impute.")

--- Imputing Loan_Balance using Regression ---
Loan_Balance imputation complete.

In [25]:
print("\nMissing values after all imputations:")
print(df.isnull().sum())

Missing values after all imputations:
Customer_ID             0
Age                     0
Income                  0
Credit_Score            0
Credit_Utilization      0
Missed_Payments         0
Delinquent_Account      0
Loan_Balance            0
Debt_to_Income_Ratio    0
Employment_Status       0
Account_Tenure          0
Credit_Card_Type        0
Location                0
Month_1                 0
Month_2                 0
Month_3                 0
Month_4                 0
Month_5                 0
Month_6                 0
Credit_Score_Missing    0
Income_Missing          0
Loan_Balance_Missing    0
dtype: int64

In [26]:
# Save the processed DataFrame to a CSV file
# 'index=False' prevents pandas from writing the DataFrame index as a column in the CSV
df.to_csv('processed_delinquency_data.csv', index=False)

print("Processed data saved to 'processed_delinquency_data.csv' in your Colab environment.")

Processed data saved to 'processed_delinquency_data.csv' in your Colab environment.

In [27]:
# Select all numerical columns, including the target and new indicator variables
numerical_cols_for_corr = df.select_dtypes(include=['number']).columns
correlations = df[numerical_cols_for_corr].corr()['Delinquent_Account'].sort_values(ascending=False)

print("\n--- Correlations with Delinquent_Account (All Numerical Features, including imputed and indicators) ---")
print(correlations)

--- Correlations with Delinquent_Account (All Numerical Features, including imputed and indicators) ---
Delinquent_Account      1.000000
Loan_Balance_Missing    0.055081
Income                  0.045387
Credit_Score            0.034733
Credit_Utilization      0.034557
Debt_to_Income_Ratio    0.034386
Age                     0.022508
Loan_Balance           -0.003588
Income_Missing         -0.025225
Missed_Payments        -0.026478
Account_Tenure         -0.039829
Credit_Score_Missing         NaN
Name: Delinquent_Account, dtype: float64

In [28]:
#categorical variable analysis vs delinquency
# Delinquency rate overall (should be around 16% as before)
overall_delinquency_rate = df['Delinquent_Account'].mean()
print(f"\nOverall Delinquency Rate: {overall_delinquency_rate:.2%}")

# Delinquency rate by Employment_Status (after standardization)
print("\n--- Delinquency Rate by Employment_Status ---")
employment_delinquency = df.groupby('Employment_Status')['Delinquent_Account'].mean().sort_values(ascending=False)
print(employment_delinquency.apply(lambda x: f"{x:.2%}")) # Format as percentage

# Delinquency rate by Credit_Card_Type
print("\n--- Delinquency Rate by Credit_Card_Type ---")
card_type_delinquency = df.groupby('Credit_Card_Type')['Delinquent_Account'].mean().sort_values(ascending=False)
print(card_type_delinquency.apply(lambda x: f"{x:.2%}"))

# Delinquency rate by Location
print("\n--- Delinquency Rate by Location ---")
location_delinquency = df.groupby('Location')['Delinquent_Account'].mean().sort_values(ascending=False)
print(location_delinquency.apply(lambda x: f"{x:.2%}"))

# --- Feature Engineering for Monthly Payment Statuses ---
# Let's create a more meaningful feature: total missed/late payments over 6 months
# Map 'On-time' to 0, 'Missed' or 'Late' to 1
payment_mapping = {'On-time': 0, 'Missed': 1, 'Late': 1}
for col in ['Month_1', 'Month_2', 'Month_3', 'Month_4', 'Month_5', 'Month_6']:
    df[f'{col}_Binary'] = df[col].map(payment_mapping)

# Sum up the binary indicators to get total missed/late payments
df['Total_Missed_Late_Payments'] = df[[f'Month_{i}_Binary' for i in range(1, 7)]].sum(axis=1)

# Now, let's see the correlation of this new feature with delinquency
print("\n--- Correlation of Total_Missed_Late_Payments with Delinquent_Account ---")
print(df[['Total_Missed_Late_Payments', 'Delinquent_Account']].corr()['Delinquent_Account'])

# And average delinquency rate by number of missed/late payments
print("\n--- Delinquency Rate by Total_Missed_Late_Payments ---")
total_payments_delinquency = df.groupby('Total_Missed_Late_Payments')['Delinquent_Account'].mean().sort_values(ascending=False)
print(total_payments_delinquency.apply(lambda x: f"{x:.2%}"))

Overall Delinquency Rate: 16.00%

--- Delinquency Rate by Employment_Status ---
Employment_Status
Unemployed       19.35%
Employed         16.25%
Self-employed    16.25%
Retired          11.49%
Name: Delinquent_Account, dtype: object

--- Delinquency Rate by Credit_Card_Type ---
Credit_Card_Type
Business    21.30%
Student     17.86%
Gold        14.41%
Standard    12.79%
Platinum    11.84%
Name: Delinquent_Account, dtype: object

--- Delinquency Rate by Location ---
Location
Los Angeles    19.63%
Houston        16.84%
Phoenix        16.50%
Chicago        14.56%
New York       11.96%
Name: Delinquent_Account, dtype: object

--- Correlation of Total_Missed_Late_Payments with Delinquent_Account ---
Total_Missed_Late_Payments   -0.024332
Delinquent_Account            1.000000
Name: Delinquent_Account, dtype: float64

--- Delinquency Rate by Total_Missed_Late_Payments ---
Total_Missed_Late_Payments
2    20.51%
4    17.90%
6    17.39%
3    16.81%
5    12.03%
1     0.00%
Name: Delinquent_Account, dtype: object